<div id="space" class="span1" ></div>


<div id="add-chocolatier" class="span4">
<div id="add-chocolatier-title"><strong>Add a Chocolatier</strong></div>
<div id="add-chocolatier-form">

<%= render 'form' %>
</div>
</div>