<div id="footer-area-full-width">
  <div class="content-wrapper" id="footer-area">
    <div id="footer-area-1">
      <b>about us</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div id="footer-area-2">
      <b>add</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div id="footer-area-3">
      <b>membership</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div id="footer-area-4">
      <b>the best</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div style="clear: both"></div>

    <div id="copy-right">
      Copyright &copy; 2013, Chocolate Raters All rights reserved.
    </div>
  </div>
</div>
