<div id="footer-area-full-width">
  <div class="content-wrapper" id="footer-area">
    <div id="footer-area-1">
      <b>about us</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div id="footer-area-2">
      <b>add</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div id="footer-area-3">
      <b>membership</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
    </div>
    <div id="footer-area-4">
      <% if !(admin?)  %>
      <b>the best</b><br>
      About RateChocolate<br>
      FAQ<br>
      Contact<br>
      New Chocolate<br>
      <% end %>
      <% if admin? %>
          <b>Link for admin access</b><br>
          <%= link_to 'Requests', requests_chocolatiers_path %></br>
          <%= link_to 'Users', user_index_path %></br>
      <% end %>
    </div>
    <div style="clear: both"></div>

    <div id="copy-right">
      Copyright &copy; 2013, Chocolate Raters All rights reserved.
    </div>
  </div>
</div>
