body {
    background: #E9E9E9;
}

.clear {
    clear: both;
}

.content-wrapper {
    max-width: 960px;
    width: 95%;
    margin: auto;
    overflow: hidden ;
}
.navbar .content-wrapper {
    overflow: visible;
}

#header-background {
    position: absolute;
    height: 311px;
    width: 100%;
    z-index: -5;
    background: url("header-bg.png") repeat-x;
    /*margin-left: -20px;*/
    /*padding-right: 20px;*/
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

#header-links {
    margin-top: 11px;
}
#header-links img{
    height: 25px;
}
#header-logo {
    margin-top: 11px;
}
#header-logo img {
    height: 24px;
}


/*search box in header*/
#search-box-in-header {
    border: 4px solid #1A1A1A;
    width: 300px;
    /*width: 97%;*/
    margin-top: 35px;
    overflow: hidden;
    height: 27px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background: url("search-box-bg.png") repeat;
}
#search-box-in-header input {
    width: 232px;
    height: 16px;
    float: left;
    margin-top: 1px;
    border: none;
    font-size: 9px;
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: url("search-box-input-bg.png");
    color: #000;
}
#search-box-in-header input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}
#search-box-in-header button {
    width: 50px;
    height: 25px;
    border: 0;
    padding: 0;
    margin: 1px 3px;
    float: right;
}
#search-box-in-header button img {
    width: 60px;
    height: 20px;
}
/* ./search box in header*/


#logged-in-user-pic {
   /* background: #CCC;*/
    float: right;
    height: 45px;
    width: 45px;
    margin-top: 4px;
}
#logged-in-user-pic img {
    height: 45px;
    width: 45px;
}
#login-signup {
    display: inline-block;
    background: #EB0089;
    padding: 0 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    float: right;
    margin-top: 4px;
    color: #EEE;
}
#login-signup a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

#main-menu {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    margin-top: 11px;
    padding-left: 0;
    padding-right: 0;
    border-left: 0px;
    filter: none;
}
#main-menu-container {
    background: url("menu-bg.png");
}

#main-menu .nav {
    /*background: url("images/menu-bg.png");*/

    width: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;


}


.navbar .nav li.dropdown.open > .dropdown-toggle {
    background: url("menu-bg.png");
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
}
#main-menu .dropdown-menu {
    background: none;
    top: 30px;
    border: none;
    box-shadow: none;
}
ul.nav li.dropdown :hover {
    background: url("menu-bg.png");
    color: #ffffff;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#main-menu .dropdown-menu li {
    background: url("menu-bg.png");
    margin-bottom: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
#main-menu .dropdown-menu li a:hover {
    background: none;
    color: #fff9ff;
}
#main-menu .dropdown-menu li a {
    color: #D4DF21;
    font-weight: bold;
}




.navbar .nav > li {

    font-weight: bold;
    line-height: 12px;
    padding: 10px 0;
}
.navbar .nav > li > a {
    color: #D4DF21;
    border-left: 1px solid #AE7645;
    text-shadow: none;
    padding: 0 15px;
    font-size: 14px;
    /*border-left-width: 1px;*/
}
.navbar .nav > li > a:hover {
    color: #DDD;
    background: none;
}
.navbar .nav > li:first-child > a {
    border-left: none;
}



.navbar .nav > li > .dropdown-menu:after {
    display: none;
}
.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

#menu-and-login .span10{
    margin-top: 34px;

}
#user-menu #login-signup{
    margin-top: 0;
}
#user-menu #logged-in-user-pic{

}

#user-menu .dropdown-menu li {
    background: url("menu-bg.png");
    margin-bottom: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 120px;
    text-align: center;
}

#user-menu .dropdown-menu li a:hover {
    background: none;
    color: #fff9ff;
}
#user-menu .dropdown-menu li a {
    color: #D4DF21;
}

#user-options .nav > li > a {
    padding: 0 0 0 0;
    text-align: center;
    color: #D4DF21;
    font-size: 15px;
    font-weight: normal;
}
#user-options .dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
    top: 32px;
}
#user-options .dropdown-menu li :hover{
    background: none;
    color: #D4DF21;
}




#rating-slider {
    position: relative;
    max-width: 386px;
    /*background: #0F0;*/
    height: 612px;
    margin-bottom: 40px;
}
#chocolate-slider {
    height: 335px;
    max-width: 346px;
    width: 90%;
    /*background: #F7D26A;*/
    /*margin: auto;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 15;
    margin-left: -1px;
}

#chocolate-slider .pika-stage {
    padding: 0;
    border: 0;
    width: 100%;
    background: none;
    height: 250px !important;
}


#chocolate-slider .pika-stage img {
    background: white;
    width: 100%;
    height: 208px;
    border: 2px solid #BEA998;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#chocolate-slider .pika-textnav {
    width: 100%;
    bottom: 8px;
}
#chocolate-slider .pika-textnav a.previous, #chocolate-slider .pika-textnav a.next {
    background: #333;
    color: #FFF;
    width: 58px;
    opacity: 0.8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#chocolate-slider .pika-imgnav {
    display: none !important;
}
#chocolate-slider ul#pikame li {
    /*width: 88px;*/
}
#chocolate-slider ul#pikame li img {
    /*width: 100%;*/
}

#chocolate-slider .jcarousel-container {
    padding: 0;
}
#chocolate-slider .jcarousel-clip {
    width: 100%;
}
#chocolate-slider .pika-thumbs {
    height: 81px;
}
#chocolate-slider .pika-thumbs li {
    width: 110px;
    border-width: 2px;
    border-color: #AE7647;
}
#chocolate-slider .jcarousel-clip li.jcarousel-item {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;
    padding: 0;
    border-color: #BEA998;
}
#chocolate-slider .jcarousel-clip .clip {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}




#chocolate-info {
    height: 512px; /*262px;*/ /*[height+padding] = 512px;*/
    width: 100%;
    background: #D8C6B8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: 100px;
    /*padding-top: 250px;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
}
#chocolate-info-title {
    font-weight: bold;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 19px;
    color: #B07B4C;
    margin-top: 255px;
    margin-bottom: 40px;
}
.chocolate-info-text {
    height: 26px;
    max-width: 338px;
    width: 90%;
    background: #DFD1C6;
    margin: auto;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    padding-top: 6px;
    border-radius: 3px;
    padding-left: 8px;
    font-family: "Myriad Pro";
    color: #6A6A6A;
}
.chocolate-info-text b {
    color: #6A6A6A;
}

#rating-chocolate-price {
    border: 2px solid #888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 265px;
}

#rating-chocolate-price-inner {
    background: #AE7647;
    display: block;
    height: 110px;
    border: 3px solid #EEE;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top: 80px;
    /*font-weight: bold;*/
    font-family: "Myriad Pro";
    color: #FFF;
}
#rating-chocolate-price-inner #total {
    font-size: 110px;
}

#rating-chocolate-price-inner .before-point {
    font-size: 110px;
}
#rating-chocolate-price-inner .after-point {
    font-size: 40px;
}

#rating-chocolate-remark {
    padding-top: 5px;
    width: 265px;
}
#rating-chocolate-remark .chocolate-rating {
    display: block;
    /*background: url("images/chocolate-rating-bg.png");*/
    background: #DBDBDB;
    overflow: hidden;
    height: 38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#rating-chocolate-remark .chocolate-rating .rating-category {
    width: 120px;
    float: left;
    color: #666;
    font-family: "Myriad Pro";
    font-size: 18px;
    margin-top: 8px;
    margin-left: 10px;
}
#rating-chocolate-remark .chocolate-rating img {
    width: 26px;
    height: 38px;
    float: left;
}

#rating-chocolate-remark .chocolate-rating select {
    height: 34px;
    width: 55px;
    border: 2px solid #AAA;
    float: left;
    margin-top: 2px;
    margin-left: 15px;
    background: #DDD;
    color: #777;
}
#rating-chocolate-remark .chocolate-rating .divide-by {
    float: left;
    margin-left: 8px;
    font-family: "Myriad Pro";
    color: #777;
    font-size: 16px;
    margin-top: 9px;

}
#rating-chocolate-remark .chocolate-rating .avg_rate {
    height: 25px;
    width: 50px;
    background: #E9E9E9;
    border: 2px solid #DBDBDB;
    float: left;
    margin-left: 8px;
    font-family: "Myriad Pro";
    color: #777;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 2px;


}
#rating-chocolate-review textarea {
    width: 97%;
    height: 244px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background: #F0F0F0;
    border: 2px solid #A2A2A2;
}
#rating-chocolate-review textarea:focus {
    background: #F5F5F5;
}
#rating-chocolate-review button {
    float: right;
    font-family: "Myriad Pro";
    font-size: 22px;
    /*font-weight: bold;*/
    color: #FFF;
    text-align: center;
    height: 33px;
    width: 200px;
    background: #EB008A;
    border: 0;
    padding: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;
}




#buy-button button {
    float: left;
    font-family: "Myriad Pro";
    margin-left: 33px;
    font-size: 22px;
    /*font-weight: bold;*/
    color: #FFF;
    text-align: center;
    height: 33px;
    width: 200px;
    background: #D5DE23;
    border: 0;
    padding: 0 0 0 5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 15px;

}
#rate-button button {
    float: left;
    font-family: "Myriad Pro";
    margin-left: 33px;
    font-size: 16px;
    /*font-weight: bold;*/
    color: #FFF;
    text-align: center;
    height: 33px;
    width: 200px;
    background: #EB008A;
    border: 0;
    padding: 0 0 0 5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 15px;

}
#link-to-rate-button {
    text-align: center;
}
#link-to-rate-button button{
    /*float: left;*/
    font-family: "Myriad Pro";
    font-size: 22px;
    /*font-weight: bold;*/
    color: #FFF;
    text-align: center;
    height: 33px;
    width: 270px;
    margin: auto;
    background: #EB008A;
    border: 0;
    padding: 0 10px 0 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;

}
#chocolate-profile-review{

    width: 100%;

    padding: 10px 10px 10px 10px;
    position: relative;


}
#chocolate-profile{
    max-width: 670px;
}

#review-header{
   position: absolute;
    top:0;
    left:25px;
    padding:5px 15px 10px 15px;
    background: #AE7647;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    font-family: "Myriad Pro";
    font-size: 18px;
    color: #FFF;
    font: bold;
}

#chocolate-profile-review .chocolate-reviews {
    padding: 30px 10px 10px 10px;
    background: #D8C6B8;
    height: 350px;
    overflow: auto;
    margin-top: 8px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    font-family: "Myriad Pro";

}

#chocolate-review-user-name a{
    text-decoration: none;
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 14px;


}

#rate-and-comment #rate {
    font-size: 25px;
    font-family: "Myriad Pro";

}
#rate-and-comment #comment {
    font-size: 14px;
    font-family: "Myriad Pro";
    margin-left: 5px;

}
#see-more-chocolate-review a{
    text-decoration: none;
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 14px;
}
#each-review{
    margin-bottom: 10px;
}
#chocolate-edit-destroy{
    margin-left: 140px;
}
#chocolate-edit-destroy a{
    text-decoration: none;
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 14px;
}


/* scroll bar*/
/* add a choclatier */
#add-chocolatier #add-chocolatier-title{
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: bold;

}
#add-chocolatier-form{
    margin-top:15px ;
    border-top: 3px solid #676865;
}
#chocolatier-form {
    margin-top: 15px;
}
#chocolatier-form .field {
   padding-top: 5px;
}
#chocolatier-form .field input {

    background: #f3f3f3;
    width: 93%;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";
    /*margin-top: -15px;*/

}
#chocolatier-form .required-star {
    float: right;
    font-size: 22px;
    color: #676865;
}
#chocolatier-form .field select {
    position: relative;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";
    background: #f3f3f3;
    width: 96%;


}
#chocolatier-submit-button button {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    height: 30px;
    width: 160px;
    margin: auto;
    background: #EB008A;
    border: 0;
    padding: 0 3px 0 3px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;

}
/* chocolate index */
#chocolates ul {
    margin-left: 0;
}
#chocolates ul li {
    list-style: none;
    padding-left: 15px;
    overflow: hidden;
    margin-top: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#chocolates .head{
    background: url("chocolate-index-head.png") repeat;
    height: 43px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

#chocolates .head .chocolate-image{
    height: 15px;
    width: 95px;
    float: left;
}
#chocolates .head .chocolate-name{
    float: left;
    margin-top: 12px;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
}
#chocolates .head .chocolate-rating-in-index {
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    margin-top: 12px;
}

#chocolates .head .star-image{
    width: 110px;
    float: right;
}

#chocolates .odd-li {
    background: #DED7D1;
}
#chocolates .even-li {
    background: #D4CAC1;
}

#chocolates .chocolate-image{
    height: 95px;
    width: 95px;
    float: left;
}
#chocolates .chocolate-image img{
    background: white;
    height: 95px;
    width: 95px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}
#chocolates .chocolate-name{
    float: left;
    word-break: break-all;
    margin-left: 18px;
    color: #952D92;
    font-weight: bold;
    font-size: 17px;
    margin-top: 37px;
    font-family: "Myriad Pro";
}
#chocolates .chocolate-name a{
    text-decoration: none;
    color: #952D92;
    font-weight: bold;
    font-size: 17px;
    font-family: "Myriad Pro";
}

#chocolates .star-image{
    max-width: 110px;
    width: 12%;
    float: right;
    margin-top: 30px;
}
#chocolates .star-image img{
    height: 30px;
    width: 33px;


}
#chocolates .chocolate-rating-in-index{
    max-width: 80px;
    width: 8.50%;
    float: right;
    font-size: 24px;
    margin-top: 35px;
}

.pagination em {
    background: #5F5F5F;
    /*height: 20pxn!important;*/
    /*width: 20px !important;*/
    padding: 2px 6px 2px 6px;
    font-style: normal;
    color: #FFF;
}
.pagination a, .pagination span {
    background: #C3C1C2;
    /*height: 20pxn!important;*/
    /*width: 20px !important;*/
    padding: 2px 6px 2px 6px;
    font-style: normal;
    color: #FFF;
    text-decoration: none;
}
#chocolate-index-page-no{
    float: right;
}

/*Sign up page*/
#sign_up #sign-up-form-title {
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 20px;
}
#sign-up-form #form-body {
    margin-top:15px ;
    border-top: 3px solid #676865;

}
#form-body #form-fields {
    margin-top: 15px;

}
#form-body #form-fields .field {
    padding-top: 15px;

}
#form-body #form-fields .field input {
    background: #f3f3f3;
    width: 93%;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";
    /*margin-top: -15px;*/

}
#form-fields .required-star {
    float: right;
    font-size: 22px;
    color: #676865;
}
#form-body button{
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    height: 30px;
    width: 160px;
    margin: auto;
    background: #EB008A;
    border: 0;
    padding: 0 3px 0 3px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;


}
#sign-up-link{
    text-decoration: none;
    color: #EB008A;
    font-family: "Myriad Pro";
    font-size: 12px;

}
#sign-up-link a{
    text-decoration: none;
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 12px;

}
#fb-login #inner-fb {
    margin-top: 60px;
    height: 250px;
    border-left: 1px solid #676865;
}
#fb-login #inner-fb #fb-pic  {
    padding-left: 60px;
    padding-top: 80px;
}

/* add chocolate */
#add-chocolate #add-chocolate-title{
    color: #AE7647;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: bold;

}
#add-chocolate-form{
    margin-top:15px ;
    border-top: 3px solid #676865;
}
#chocolate-form {
    margin-top: 15px;
}
#chocolate-form .field {
    padding-top: 5px;
}
#chocolate-form .field input {

    background: #f3f3f3;
    width: 93%;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";
    /*margin-top: -15px;*/

}
#chocolate-form .required-star {
    float: right;
    font-size: 22px;
    color: #676865;
}
#chocolate-form .field select {
    position: relative;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";
    background: #f3f3f3;
    width: 96%;
    height: 40px;
    padding-top: 10px;

}
#chocolate-form #cocoa input {
    background: #f3f3f3;
    width: 30%;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";

}
#chocolate-form #cocoa {
    padding-top: 10px;
    color: #676865;
}

#chocolate-form #bar_type{
    padding-top: 10px;
    color: #676865;
}
.type_option{
    padding-top: 15px;
    color: #676865;
    margin-right: 20px;
    margin-left: 5px;
    font-family: "Myriad Pro";

}
#chocolate-form .type{
    margin-top: -2px;
}


#chocolate-form .field textarea {
    background: #f3f3f3;
    width: 93%;
    height: 160px;
    font-size: 12px;
    color: #676865;
    font-family: "Myriad Pro";

}
#chocolate-form button {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    height: 30px;
    width: 160px;
    margin: auto;
    background: #EB008A;
    border: 0;
    padding: 0 3px 0 3px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    margin-top: 25px;

}
#chocolate-form a{
    text-decoration: none;
    color: #AE7647;
    font-family: "Myriad Pro";

}
#add-chocolatier-link #question{
    margin-top: 55px;
    margin-left: 10px;
    font-family: "Myriad Pro";
    color: #000000;
    font-size: 13px;
}
#add-chocolatier-link #link a{
    text-decoration: none;
    font-family: "Myriad Pro";
    margin-left: 13px;
    color: #EB008A;
    font-size: 15px;
    border-bottom: 1px solid #EB008A;

}

/* chocolatier index */
#chocolatier ul {
    margin-left: 0;
}
#chocolatier ul li {
    list-style: none;
    padding-left: 15px;
    overflow: hidden;
    margin-top: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#chocolatier .head{
    background: url("chocolate-index-head.png") repeat;
    height: 43px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

#chocolatier .head .chocolatier-image{
    height: 15px;
    width: 95px;
    float: left;
}
#chocolatier .head .chocolatier-name{
    float: left;
    margin-top: 12px;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
}
#chocolatier .head .total-chocolates {
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
    margin-top: 12px;
    float: right;
    padding-right: 20px;
}



#chocolatier .odd-li {
    background: #DED7D1;
}
#chocolatier .even-li {
    background: #D4CAC1;
}

#chocolatier .chocolatier-image{

    height: 95px;
    width: 95px;
    float: left;
}
#chocolatier .chocolatier-image img{
    height: 95px;
    width: 95px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}
#chocolatier #image-blank {
    height: 95px;
    width: 95px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #BCBCBC;

}
#chocolatier .chocolatier-name{
    float: left;
    word-break: break-all;
    margin-left: 18px;
    color: #952D92;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
    font-family: "Myriad Pro";
}
#chocolatier .chocolatier-name a{
    text-decoration: none;
    color: #952D92;
    font-weight: bold;
    font-size: 20px;
    font-family: "Myriad Pro";
}
#chocolatier .chocolatier-name #address{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

#chocolatier .total-chocolate{
    max-width: 80px;
    width: 8.5%;
    float: right;
    font-size: 30px;
    margin-top: 35px;
    float: right;
    color: #71706E;
}


#chocolatier-index-page-no{
    float: right;
}


/* chocolatier profile */
#chocolatier-profile #photo-or-logo{

    height: 200px;
    background: #555555;
}
#chocolatier-profile #photo-or-logo img{
    height: 200px;
}

#chocolatier-profile #chocolatier-info {
    padding-left: 30px;
    padding-top: 50px;

}
#chocolatier-profile #chocolatier-info #name{
    font-size: 26px;
    color: #A34F9E;
    font-family: "Myriad Pro";

}
#chocolatier-profile #chocolatier-info #state-country {
    margin-top: 5px;
    font-size: 16px;
    color: #555555;
    font-family: "Myriad Pro";

}
#chocolatier-profile #chocolatier-info #joined-on{
    margin-top: 20px;
    font-size: 12px;
    color: #555555;
    font-family: "Myriad Pro";
}
#chocolatier-profile #chocolates-header {

    background: #BFBDBE;
    height: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#chocolatier-profile #chocolatier-chocolate{
    margin-top: 30px;
    color: #AF7547;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: bold;
}
#chocolates-header #name{


}
#chocolates-header #action{
   margin-left: 41%;

}
#chocolates-header #rating{
    margin-left: 30%;

}
#chocolates-header #headers {
   padding: 15px 10px 10px 15px;
    color: #000000;

}
#chocolatier-profile #chocolate-list{
    height: 400px;
    overflow: auto;


}
#chocolatier-profile #chocolate-list .chocolate{
    width: 98%;

    border-bottom: 1px solid #000000;
    margin-left: 10px;



}
#chocolatier-profile #chocolate-list .chocolate #image{

}
#chocolate-list .chocolate #image img{
    background: white;
    height:60px ;
    width: 70px;
    margin-bottom:10px ;

}
#chocolate-list .chocolate .name a{
    text-decoration: none;
    font-size: 14px;
    color: #A34F9E;
    font-family: "Myriad Pro";
}
#chocolate-list .chocolate .name{
    margin-top: 15px;
}

#chocolate-list .chocolate .star {
    background: url("star-disabled.png") no-repeat;
    margin-top: 6px;


}
#chocolate-list .chocolate :hover  .star{
    background: url("chocolate-rating-star.png") no-repeat;
    margin-top: 0px;
    height: 46px;
}
#chocolate-list .chocolate :hover  .cart{
    background: url("cart.png") no-repeat;
    margin-top: 0px;
    height: 46px;
}


#chocolate-list .chocolate .cart{
    background: url("cart-disabled.png") no-repeat;
    height: 46px;
    width: 53px;
  

}
#chocolate-list .chocolate .rating {
    margin-top: 15px;
   text-align: center;
    margin-left: 20%;
}
 .chocolate .row-fluid{
     padding-top: 20px;
 }


/***************************************************************************/
#search-result-page-title {
    color: #A46F42;
    background: url("search-page-title-bg.png");
    font-family: "Myriad Pro";
    font-size: 18px;
    margin-top: -10px;
}
#search-result-page-title p {
    padding: 15px 2.8%;
    margin: 0;
}
#search-result-area ul {
    margin: auto;
    max-width: 720px;
    overflow: hidden;
    width: 95%;
    background: #EDEDED;
}
#search-result-area ul li {
    border-bottom: 2px solid #AAA;
    overflow: hidden;
    list-style-type: none;
}
#search-result-area ul li:last-child {
    border-bottom: none;
}
#search-result-area .title-text {
    padding-top: 10px;
    font-family: "Myriad Pro";
    font-size: 17px;
    font-weight: bold;
    color: #A46F42;
    border-bottom: none;
    background: #E9E9E9;
    padding-bottom: 6px;
}
#search-result-area .title-head {
    background: url("search-page-title-head-bg.png");
    /*margin-top: 6px;*/
    /*height: 45px;*/
    padding: 12px 0 12px 2.9%;
    /*margin-left: ;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border-bottom: none;
}
#search-result-area .title-head div {
    color: #222;
    font-weight: bold;
    font-size: 13px;
}
#search-result-area div {
    /*display: inline-block;*/
    float: left;
}
#search-result-area .title-head .name {
    max-width: 300px; /*42.85%*/
    width: 95%;
}
#search-result-area .actions {
    max-width: 185px;
    width: 95%;
    text-align: center;
}
#search-result-area .score {
    margin-left: 40px;
    width: 98px;
}
#search-result-area img.chocolate-image{
    background: white;
    width: 67px;
    height: 52px;
    margin: 10px 12px 5px 0;
    display: inline-block;
}
#search-result-area .chocolate {
    font-weight: bold;
    margin-left: 9px;
    margin-right: 5px;
}
#search-result-area .chocolate .name {
    width: 320px;
}
#search-result-area .chocolate .name p{
    display: inline-block;
    color: #92278F;
    font-size: 13px;
}
#search-result-area .chocolate .name a{
    text-decoration: none;
    display: inline-block;
    color: #92278F;
    font-size: 13px;
}
#search-result-area .chocolate .actions {
    overflow: hidden;
}
#search-result-area .star {
    height: 22px;
    width: 25px;
    background: url("search-star-disabled.png");
    margin-top: 23px;
    margin-right: 29px;
}
#search-result-area .cart {
    height: 32px;
    width: 38px;
    background: url("cart-disabled.png");
    margin-top: 18px;
    margin-right: 22px;
}
#search-result-area .statistic {
    height: 28px;
    width: 36px;
    background: url("statistic-disabled.png");
    margin-top: 20px;
}
#search-result-area ul li.chocolate:hover .star {
    background: url("search-star-enabled.png");
}
#search-result-area ul li.chocolate:hover .cart {
    background: url("cart-enabled.png");
}
#search-result-area ul li.chocolate:hover .statistic {
    background: url("statistic-enabled.png");
}
#search-result-area .chocolate .score {
    margin-top: 25px;
    margin-left: 50px;
}
#search-result-area .chocolate .ratings {
    margin-top: 25px;
}

#search-result-area .chocolatiers {
    /*margin-left: 0.6%;*/
}
#search-result-area .chocolatiers li.title-text {
    margin-left: 0;
    margin-right: 0;
}
#search-result-area .chocolatiers li.title-head {
    margin-left: 0;
    margin-right: 0;
    /*padding: 0;*/
    /*padding-left: 2.9%;*/
}
#search-result-area .chocolatiers li.title-head .name {
    margin: 0;
}
#search-result-area .chocolatiers li {
    margin-left: 0.6%;
    margin-right: 0.6%;
    border-bottom-width: 1px;
}
#search-result-area .chocolatiers .name {

    /*margin-left: 0.6%;*/
    width: 49.7%;
    margin-top: 25px;
    margin-bottom: 25px;
}
#search-result-area .chocolatiers .name a{
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #92278F;

}
#search-result-area .chocolatiers .details {
    width: 49.7%;
    font-weight: bold;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
}
















#footer-area-full-width {
    margin-top: 40px;
    width: 100%;
    background: url("footer-bg.png") repeat-x bottom;
}


#footer-area {
    border-top: 2px solid #555;
    padding-top: 15px;
    color: #555;
}

#footer-area-1, #footer-area-2, #footer-area-3, #footer-area-4 {
    /*background: #777;*/
    /*float: left;*/
    /*width: 189px;*/
    border-left: 1px solid #555;
    padding-left: 50px;
}

#footer-area-1 {
    border-left: 0;
}

#copy-right {
    margin: 17px 0px 35px 50px;
}


/*search-box-in-header*/
@media (max-width: 420px) {
    #search-box-in-header {
        width: 97%;
    }
    #search-box-in-header input {
        width: 65%;
    }
    #fb-login #inner-fb #fb-pic{
         padding: 0 0 0 0;
    }
    #fb-login #inner-fb {
        margin-top: 60px;
        height: auto;
    }
}
@media (max-width: 320px) {
    #search-box-in-header input {
        width: 55%;
    }
}
/* ./search-box-in-header*/

/*rating-slider*/
/*@media (max-width: 340px) {*/
    /*#chocolate-slider .galleria-thumbnails-container {*/
        /*display: none;*/
    /*}*/
    /*#rating-slider {*/
        /*height: 452px;*/
    /*}*/
    /*#chocolate-info {*/
        /*height: 352px;*/
    /*}*/
    /*#chocolate-info-title {*/
        /*margin-top: 95px;*/
    /*}*/
/*}*/
/* ./rating-slider*/




@media (max-width: 979px) {
    #main-menu-container {
        padding-bottom: 5px;
    }

    .navbar .nav > li {
        background: url("menu-bg.png");
    }
    .navbar .nav > li > a {
        border-left: none;
    }
    #rating-chocolate-review textarea {
        width: 95%;
    }
    #user-menu .dropdown-menu li{
        width: 70px;

    }
    #user-menu .dropdown-menu > li > a {
        padding-left: 0;

    }
    #chocolate-list .chocolate :hover  .star{

        width: 50px;
    }

}

@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    #header-background {
        width: 100%;
        margin-right: 20px;
    }

    #footer-area-full-width {
        /*background: none;*/
    }
    #footer-area-1, #footer-area-2, #footer-area-3, #footer-area-4 {
        border: none;
        padding-top: 30px;
        border-bottom: 1px solid #555;
    }
    #rating-chocolate-review textarea {
        width: 93%;
    }
    #fb-login #inner-fb #fb-pic{
        padding: 0 0 0 0;
    }
    #fb-login #inner-fb {
        margin-top: 60px;
        height: auto;
    }
    #chocolates .star-image{
        display: none;
    }
    #chocolates .chocolate-rating-in-index{
        width:auto;
        padding-right: 10px;

    }
    #chocolatier-profile #chocolates-header{
        display:none;

    }
    #chocolate-list .chocolate .rating {
        margin-left: 0;
        text-align: left;

    }






}
@media (max-width: 760px) {
    #search-result-area .title-head .actions, #search-result-area .title-head .score, #search-result-area .title-head .ratings {
        display: none;
    }
    #search-result-area .chocolate .ratings {
        margin-bottom: 11px;
    }
    #search-result-area .chocolate .name {
        float: none;
        width: 100%;
        margin-top: 12px;
    }
    #search-result-area .actions {
        float: none;
        margin-left: 9px;
    }
    #search-result-area .chocolate .score {
        margin-left: 9px;
    }
    #search-result-area .chocolate .score:before {
        content: 'Score: ';
    }
    #search-result-area .chocolate .ratings:before {
        content: 'Ratings: ';
    }

    #search-result-area .chocolatiers .name {
        float: none;
        margin-left: .6%;
        width: 99.4%;
    }
    #search-result-area .chocolatiers .details {
        margin-left: .6%;
        width: 99.4%;
    }
}