<div id="space" class="span1" ></div>
<div id="add-chocolate" class="span4">
  <div id="add-chocolate-title">Editing Chocolate</div>
  <div id="add-chocolate-form">
    <%= render 'form' %>
  </div>


</div>