<div id="space" class="span1" ></div>
<div id="add-chocolate" class="span4">
<div id="add-chocolate-title">Add a Chocolate</div>
  <div id="add-chocolate-form">
<%= render 'form' %>
    </div>


</div>
<div id="add-chocolatier-link" class="span4">
    <div id="question">Can't see your chocolatier?</div>
    <div id="link"><%= link_to 'Add a new chocolatier', new_chocolatier_path %></div>
</div>
